.social-hub-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

@media (max-width: 640px) {
    .social-hub-wrapper {
        transform: scale(0.8);
        transform-origin: left center;
        margin-left: -10px;
    }
}

.social-hub-wrapper .main_back {
    position: absolute;
    border-radius: 10px;
    transform: rotate(90deg);
    width: 11em;
    height: 11em;
    background: linear-gradient(270deg, #03a9f4, #cc39a4, #ffb5d2);
    z-index: -2;
    box-shadow: inset 0px 0px 180px 5px #ffffff;
}

.dark .social-hub-wrapper .main_back {
    box-shadow: inset 0px 0px 180px 5px #020617;
}

.social-hub-wrapper .main {
    display: flex;
    flex-wrap: wrap;
    width: 14em;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.social-hub-wrapper .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-top-left-radius: 10px;
    background: rgba(255, 255, 255, 0.596);
    backdrop-filter: blur(5px);
    border: 1px solid transparent;
    -webkit-backdrop-filter: blur(5px);
    transition: 0.4s ease-in-out, 0.2s background-color ease-in-out,
        0.2s background-image ease-in-out;
}

.dark .social-hub-wrapper .card {
    background: rgba(30, 41, 59, 0.6);
    border-color: rgba(255, 255, 255, 0.1);
}

.social-hub-wrapper .card svg {
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.social-hub-wrapper .card .instagram {
    fill: #cc39a4;
}

.social-hub-wrapper .card .twitter {
    fill: #03a9f4;
}

.social-hub-wrapper .card .dribble {
    fill: #ea4c89;
}

.social-hub-wrapper .card .linkedin {
    color: #0077b5;
}

.social-hub-wrapper .card .uiverse {
    position: absolute;
    margin-left: 0.2em;
    margin-top: 0.2em;
}

.social-hub-wrapper .card .discord {
    fill: #8c9eff;
}

.social-hub-wrapper .card .github {
    fill: black;
}

.dark .social-hub-wrapper .card .github {
    fill: white;
}

.social-hub-wrapper .card .telegram {
    fill: #29b6f6;
}

/* Grid Layout Radii for 3x3 */
.social-hub-wrapper .card:nth-child(1) {
    border-top-left-radius: 10px;
}

.social-hub-wrapper .card:nth-child(2) {
    border-radius: 0px;
}

.social-hub-wrapper .card:nth-child(3) {
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
}

.social-hub-wrapper .card:nth-child(4) {
    border-radius: 0px;
}

.social-hub-wrapper .card:nth-child(5) {
    border-radius: 0px;
}

.social-hub-wrapper .card:nth-child(6) {
    border-radius: 0px;
}

.social-hub-wrapper .card:nth-child(7) {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
}

.social-hub-wrapper .card:nth-child(8) {
    border-radius: 0px;
}

.social-hub-wrapper .card:nth-child(9) {
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
}

.social-hub-wrapper .main:hover .main_back {
    opacity: 0;
}

.social-hub-wrapper .main:hover .card {
    margin: 0.2em;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
}

.dark .social-hub-wrapper .main:hover .card {
    background: rgba(30, 41, 59, 0.8);
    border-color: rgba(255, 255, 255, 0.1);
}

.social-hub-wrapper .main:hover .text {
    opacity: 0;
    z-index: -3;
}

.social-hub-wrapper .main:hover .card svg {
    opacity: 1;
}

/* Individual Card Hover Colors */
.social-hub-wrapper .card:nth-child(1):hover {
    background-color: #cc39a4;
}

.social-hub-wrapper .card:nth-child(1):hover .instagram {
    fill: white;
}

.social-hub-wrapper .card:nth-child(2):hover {
    background-color: #03a9f4;
}

.social-hub-wrapper .card:nth-child(2):hover .twitter {
    fill: white;
}

.social-hub-wrapper .card:nth-child(3):hover {
    background-color: #ea4c89;
}

.social-hub-wrapper .card:nth-child(3):hover .dribble {
    fill: white;
}

.social-hub-wrapper .card:nth-child(4):hover {
    background-color: #0077b5;
}

.social-hub-wrapper .card:nth-child(4):hover .linkedin {
    color: white;
}

.social-hub-wrapper .card:nth-child(5):hover {
    animation: backgroundIMG 0.1s forwards;
}

.social-hub-wrapper .card:nth-child(5):hover .uiverse #paint0_linear_501_142 stop,
.social-hub-wrapper .card:nth-child(5):hover .uiverse #paint1_linear_501_142 stop,
.social-hub-wrapper .card:nth-child(5):hover .uiverse #paint2_linear_501_142 stop {
    stop-color: white;
}

.social-hub-wrapper .card:nth-child(6):hover {
    background-color: #8c9eff;
}

.social-hub-wrapper .card:nth-child(6):hover .discord {
    fill: white;
}

.social-hub-wrapper .card:nth-child(7):hover {
    background-color: black;
}

.social-hub-wrapper .card:nth-child(7):hover .github {
    fill: white;
}

.social-hub-wrapper .card:nth-child(8):hover {
    background-color: #29b6f6;
}

.social-hub-wrapper .card:nth-child(8):hover .telegram>path:nth-of-type(1) {
    fill: white;
}

.social-hub-wrapper .card:nth-child(9):hover {
    background-color: rgb(255, 69, 0);
}

.social-hub-wrapper .card:nth-child(9) .reddit>g circle {
    fill: rgb(255, 69, 0);
}

.social-hub-wrapper .card:nth-child(9) .reddit>g path {
    fill: white;
}

@keyframes backgroundIMG {
    100% {
        background-image: linear-gradient(#bf66ff, #6248ff, #00ddeb);
    }
}

.social-hub-wrapper .text {
    position: absolute;
    font-size: 0.7em;
    transition: 0.4s ease-in-out;
    color: black;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.33em;
    z-index: 3;
}

.dark .social-hub-wrapper .text {
    color: white;
}